@model FahasaStoreAdminApp.Models.EModels.VoucherModel

<div>
    <!-- Button trigger modal -->
    <button type="button" id="btn-toggle" class="btn btn-primary" hidden data-bs-toggle="modal" data-bs-target="#appModal">
        Launch demo modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="appModal" tabindex="-1" aria-labelledby="appModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="appModalLabel">Thêm Mới</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label asp-for="Name" class="control-label"></label>
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Code" class="control-label"></label>
                                    <input asp-for="Code" class="form-control" />
                                    <span asp-validation-for="Code" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Description" class="control-label"></label>
                                    <input asp-for="Description" class="form-control" />
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="DiscountPercent" class="control-label"></label>
                                    <input asp-for="DiscountPercent" class="form-control" />
                                    <span asp-validation-for="DiscountPercent" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="StartDate" class="control-label"></label>
                                    <input asp-for="StartDate" class="form-control" type="date" />
                                    <span asp-validation-for="StartDate" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="EndDate" class="control-label"></label>
                                    <input asp-for="EndDate" class="form-control" type="date" />
                                    <span asp-validation-for="EndDate" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="MinOrderAmount" class="control-label"></label>
                                    <input asp-for="MinOrderAmount" class="form-control" type="number" step="0.01" />
                                    <span asp-validation-for="MinOrderAmount" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="MaxDiscountAmount" class="control-label"></label>
                                    <input asp-for="MaxDiscountAmount" class="form-control" type="number" step="0.01" />
                                    <span asp-validation-for="MaxDiscountAmount" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="UsageLimit" class="control-label"></label>
                                    <input asp-for="UsageLimit" class="form-control" type="number" />
                                    <span asp-validation-for="UsageLimit" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <input type="submit" value="Create New" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $("#btn-toggle").click();
</script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

