
<div class="form-group" id="ImageForm">
    <label class="control-label text-capitalize" for="@inputName">@label</label>
    <input type="file" name="fileImage" hidden class="form-control" id="@inputName" />
    <br />
    <label for="@inputName" role="button" class="rounded-circle">
        <div id="imagePreview_@inputName" class="position-relative overflow-hidden rounded-circle imagePreview">
            <img src="https://images.fpt.shop/unsafe/filters:quality(90)/fptshop.com.vn/uploads/images/tin-tuc/169649/Originals/hinh-nen-anime-cute%20(3).jpg" width="120" height="120" class="object-fit-cover rounded-circle" />
            <div class="overlay rounded-circle"><i class="bi bi-camera"></i></div>
        </div>
    </label>
    @if (inputName == null || label == null)
    {
        <br />
        <span class="text-danger">Parameters: inputName, label is null</span>
    }
</div>
<script src="/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#@inputName').change(function (event) {
            var input = event.target;
            var reader = new FileReader();
            reader.onload = function () {
                var dataURL = reader.result;
                $('#imagePreview_@inputName img').attr('src', dataURL);
            };

            reader.readAsDataURL(input.files[0]);
        });
    });
</script>

@code {
    [Parameter]
    public string? inputName { get; set; }
    [Parameter]
    public string? label { get; set; }
}
