@using FahasaStoreAdminApp.Components
@model FahasaStoreAPI.Models.FormModels.BookForm

<div>
    <!-- Button trigger modal -->
    <button type="button" id="btn-toggle" class="btn btn-primary" hidden data-bs-toggle="modal" data-bs-target="#appModal">
        Launch demo modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="appModal" tabindex="-1" aria-labelledby="appModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="appModalLabel">Thêm Mới</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <div class="row">
                            @* <div class="col-md-4">
                                <div class="d-flex flex-md-column align-items-center justify-content-around">
                                    <div class="form-group">
                                        <label asp-for="ImageUrl" class="control-label text-center d-block"></label>
                                        <input asp-for="ImageUrl" class="form-control" hidden />
                                        <span asp-validation-for="ImageUrl" class="text-danger"></span>
                                        @(await Html.RenderComponentAsync<ImagePreviewComponent>(RenderMode.ServerPrerendered, new { idInputFile = "ImageUrl", isMenu = true }))
                                    </div>
                                </div>
                            </div> *@
                            <div class="col">
                                <div class="form-group">
                                    <label asp-for="Name" class="control-label"></label>
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Description" class="control-label"></label>
                                    <textarea asp-for="Description" rows="4" class="form-control"></textarea>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="OriginalPrice" class="control-label"></label>
                                    <input asp-for="OriginalPrice" class="form-control" />
                                    <span asp-validation-for="OriginalPrice" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="CurrentPrice" class="control-label"></label>
                                    <input asp-for="CurrentPrice" class="form-control" />
                                    <span asp-validation-for="CurrentPrice" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="DiscountPercentage" class="control-label"></label>
                                    <input asp-for="DiscountPercentage" class="form-control" />
                                    <span asp-validation-for="DiscountPercentage" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Quantity" class="control-label"></label>
                                    <input asp-for="Quantity" class="form-control" />
                                    <span asp-validation-for="Quantity" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Weight" class="control-label"></label>
                                    <input asp-for="Weight" class="form-control" />
                                    <span asp-validation-for="Weight" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="PageCount" class="control-label"></label>
                                    <input asp-for="PageCount" class="form-control" />
                                    <span asp-validation-for="PageCount" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="SubcategoryId" class="control-label"></label>
                                    <select asp-for="SubcategoryId" class="form-control" asp-items="ViewBag.SubcategoryId"></select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="PartnerId" class="control-label"></label>
                                    <select asp-for="PartnerId" class="form-control" asp-items="ViewBag.PartnerId"></select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="AuthorId" class="control-label"></label>
                                    <select asp-for="AuthorId" class="form-control" asp-items="ViewBag.AuthorId"></select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="CoverTypeId" class="control-label"></label>
                                    <select asp-for="CoverTypeId" class="form-control" asp-items="ViewBag.CoverTypeId"></select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="DimensionId" class="control-label"></label>
                                    <select asp-for="DimensionId" class="form-control" asp-items="ViewBag.DimensionId"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <input type="submit" value="Create New" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $("#btn-toggle").click();
</script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

