@using FahasaStoreAdminApp.Components
@model FahasaStoreAdminApp.Models.EModels.PlatformModel

<div>
    <!-- Button trigger modal -->
    <button type="button" id="btn-toggle" class="btn btn-primary" hidden data-bs-toggle="modal" data-bs-target="#appModal">
        Launch demo modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="appModal" tabindex="-1" aria-labelledby="appModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="appModalLabel">Thêm Mới</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-md-4">
                                <div class="d-flex flex-md-column align-items-center justify-content-around">
                                    <div class="form-group">
                                        <label asp-for="ImageUrl" class="control-label text-center d-block"></label>
                                        <input type="file" name="fileImage" class="form-control" id="fileImage" hidden />
                                        @(await Html.RenderComponentAsync<ImagePreviewComponent>(RenderMode.ServerPrerendered, new { idInputFile = "fileImage" }))
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label asp-for="PlatformName" class="control-label"></label>
                                    <input asp-for="PlatformName" class="form-control" />
                                    <span asp-validation-for="PlatformName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Link" class="control-label"></label>
                                    <input asp-for="Link" class="form-control" />
                                    <span asp-validation-for="Link" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <input type="submit" value="Create New" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $("#btn-toggle").click();
</script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

