@using FahasaStoreAdminApp.Components
@model FahasaStoreAdminApp.Models.DTO.AspNetUserDTO

@{
    ViewData["Title"] = "Tài Khoản";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["ActiveSidebar"] = 2;
}

<form asp-action="UpdateUser" asp-controller="Account">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="d-flex flex-md-column align-items-center justify-content-around">
                    <div class="form-group">
                        <label asp-for="ImageUrl" class="control-label text-capitalize text-center d-block"></label>
                        <input asp-for="ImageUrl" class="form-control" hidden />
                        <span asp-validation-for="ImageUrl" class="text-danger"></span>
                        @(await Html.RenderComponentAsync<ImagePreviewComponent>(RenderMode.ServerPrerendered, new { idInputFile = "ImageUrl" }))
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="FullName" class="control-label text-capitalize"></label>
                    <input asp-for="FullName" class="form-control" />
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label text-capitalize"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNumber" class="control-label text-capitalize"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}