@using FahasaStoreAdminApp.Components
@model FahasaStoreAdminApp.Entities.Website

@{
    ViewData["Title"] = "Thông tin website";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["ActiveSidebar"] = 1;
    ViewData["UrlCurrent"] = "/Home/Website";
}

<partial name="_ToastrMessage" />

<form asp-action="Website" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-4">
            <div class="d-flex flex-md-column align-items-center justify-content-around">
                <div class="form-group">
                    <div class="d-flex flex-md-column align-items-center justify-content-around">
                        <div class="form-group">
                            <label asp-for="LogoUrl" class="control-label text-center d-block"></label>
                            <input asp-for="LogoUrl" class="form-control" hidden />
                            <input type="file" name="LogoUrlImg" class="form-control" id="LogoUrlImg" value="@Model.LogoUrl" hidden />
                            @(await Html.RenderComponentAsync<ImagePreviewComponent>(RenderMode.ServerPrerendered, new { idInputFile = "LogoUrlImg" }))
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="d-flex flex-md-column align-items-center justify-content-around">
                        <div class="form-group">
                            <label asp-for="IconUrl" class="control-label text-center d-block"></label>
                            <input asp-for="IconUrl" class="form-control" hidden />
                            <input type="file" name="IconUrlImg" class="form-control" id="IconUrlImg" value="@Model.IconUrl" hidden />
                            @(await Html.RenderComponentAsync<ImagePreviewComponent>(RenderMode.ServerPrerendered, new { idInputFile = "IconUrlImg" }))
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <label asp-for="Name" class="control-label text-capitalize"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label text-capitalize"></label>
                <textarea asp-for="Description" rows="4" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label text-capitalize"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Phone" class="control-label text-capitalize"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label text-capitalize"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
