@model FahasaStoreAdminApp.Models.EModels.NotificationModel

<div>
    <!-- Button trigger modal -->
    <button type="button" id="btn-toggle" class="btn btn-primary" hidden data-bs-toggle="modal" data-bs-target="#appModal">
        Launch demo modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="appModal" tabindex="-1" aria-labelledby="appModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="appModalLabel">Thêm Mới</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label asp-for="NotificationTypeId" class="control-label"></label>
                                    <select asp-for="NotificationTypeId" class="form-control" asp-items="ViewBag.NotificationType"></select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="UserId" class="control-label"></label>
                                    <select asp-for="UserId" class="form-control" asp-items="ViewBag.Users">
                                        <option value="">-- Tất cả user --</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Title" class="control-label"></label>
                                    <input asp-for="Title" class="form-control" />
                                    <span asp-validation-for="Title" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Content" class="control-label"></label>
                                    <textarea asp-for="Content" class="form-control"></textarea>
                                    <span asp-validation-for="Content" class="text-danger"></span>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <input type="submit" value="Chỉnh sửa" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $("#btn-toggle").click();
</script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

